#inputFile {
    display: none;
}

#input {
    width: 100%;
    height: 20em;
    max-height: 70%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000088;
    outline: none;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 192, .2);
}

#submit {
    font-size: 1.5em;
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .2);
    cursor: pointer;
    border: 1px solid #008800;
    background-color: #cfc;
}
