/*********
** Intro
*********/
h1 {
    text-align: center;
    font-size: 6em;
    color: #000;
}

#blurb {
    margin: auto;
    width: 30em;
    text-align: center;
}

#call-to-action {
    margin: 3em 0;
    text-align: center;
}

#call-to-action a.main-cta,
#call-to-action a.secondary-cta {
    box-shadow: #caefab 0 1px 0 0 inset;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: #aade7c 0 1px 0;
}

#call-to-action a.main-cta {
    background: linear-gradient(#77d42a 5%, #5cb811 75%) #77d42a;
    font-size: 1.5em;
    color: #306108;
}

#call-to-action a.secondary-cta {
    background: #768d87;
    border: 1px solid #566963;
    color: #eee;
    text-shadow: #2b665e 0 1px 0;
}

.cta-dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}

.cta-dropdown a.download {
    margin-bottom: 0 !important;
}

.cta-dropdown .dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #566963;
    background: #5cb811;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    margin-top: -6px;
    z-index: 1;
}

.cta-dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

.cta-dropdown .dropdown-content img {
    width: 0.85em;
    height: 0.85em;
}

.cta-dropdown.secondary-cta-dropdown .dropdown-content a:hover {
    background-color: #566963;
}

.cta-dropdown.secondary-cta-dropdown .dropdown-content {
    background-color: #768d87;
    border-color: #566963;
}

.cta-dropdown.secondary-cta-dropdown .dropdown-content a {
    color: #fff;
    text-shadow: #2b665e 0 1px 0;
}

.cta-dropdown .dropdown-content a {
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
}

.cta-blurb {
    font-size: 0.85em;
}

.sublinks {
    font-size: 0.9em;
    margin-bottom: 1em;
}

/*********
** Subsections
*********/
.area {
    background: rgba(0, 170, 0, 0.2);
    padding: 0 1em 1em 1em;
    margin-bottom: 1em;
}

.area > ul,
.area > div,
.area > p {
    margin-left: 3em;
}

.area > ul {
    padding-left: 0;
}

.area > h2 {
    border: 0;
}

#donate-links li {
    list-style: none;
    margin-bottom: 5px;
}

#donate-links .donate-button {
    display: inline-block;
    min-width: 10em;
    background: #2a413b;
    padding: 6px 12px;
    font-family: Quicksand, Helvetica, Century Gothic, sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
}

#donate-links .donate-button img {
    vertical-align: middle;
    max-height: 15px;
    max-width: 15px;
}
